@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
      --primary-color: #c04ae2;
      --secondary-color: #111111;
      --primary-font: 'Poppins', sans-serif;
      --secondary-font: 'Overpass', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      font-family: var(--primary-font);
        font-size: 16px;
        line-height: 1.5;
        overflow-x: hidden;
        color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  /* line-height: 1.5; */
  overflow-x: hidden;
  color: var(--secondary-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--primary-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.btn {
  display: inline-block;
  max-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: #a03dd1;
}

.btn-secondary {

  border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.section-subheading {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.section-heading {
  font-size: 3rem;
  max-width: 600px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.section-heading.left {
  margin-right: auto;
}

.section-heading.right {
  margin-left: auto;
}