.contact-top {
    margin-top: 110px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.contact__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__form input,
.contact__form textarea {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact__form textarea {
    resize: vertical;
}

.contact__details {
    width: 50%;
}

.contact__details .text {
    font-size: 0.9rem;
    color: #2e2e2e;
    margin-bottom: 2rem;
}

.contact__details .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__details .detail {
    display: flex;
    gap: 2rem;
    align-items: center;

}

.detail__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8rem;
    background: #fe6686;
}

.detail:nth-child(2) .detail__icon {
    background: #54d6a1;
}

.detail:nth-child(3) .detail__icon {
    background: #fe913f;
}

.detail__content h3 {
    margin: 0;
    line-height: 1;
}

.detail__content p {
    color: #747474;
    font-size: 0.9rem;

}